{extend name="../template/base.html""/}
{block name="title"}{$view.name}{/block}
{block name="type"}
	<div class="list list-group-item">
		<ul class="breadcrumb">
			{volist name='list' id='vo' empty="暂时没有数据"}
				<li> <a href="/dwz/list/{$vo.type}">{if condition="($vo.type == $view.type)"}<font color=red>{$vo.name}</font>{else /}{$vo.name}{/if}</a></li>
			{/volist}
		</ul>
		<form action="/dwz/search" method="get" class="bs-example bs-example-form" role="form">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" name="keyword" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								搜!!
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	{$articles->render()}
	<div class="content">
		{volist name='articles' id='vo' key='k' empty='暂时没有数据'}
			<li class="list-group-item">{$Request.get.page?$Request.get.page*15-15+$k:$k}.<a href="/dwz/view/{$vo.id}">{$vo.title}</a></li>
		{/volist}
	</div>
	{$articles->render()}
{/block}