{extend name="../template/base.html"" /}
{block name="title"}{$title}{/block}
{block name="type"}
	<div class="list list-group-item">
		<ul class="breadcrumb">
			{volist name='list' id='vo' empty="暂时没有数据"}
				<li> <a href="/{$path}/{$vo.type}">{$vo.kind}</a></li>
			{/volist}
		</ul>
		<form action="/{$path}/search" method="get" class="bs-example bs-example-form" role="form">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" name="keyword" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								搜!!
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
{/block}
{block name="search"}
	<style>
	#daan{
		border: solid 1px #eee;
		padding: 3px 5px;
		margin: 1px;
		border-radius: 3px;
		display:inline-block;
	}
	</style>
{/block}
{block name="main"}
	{$lists->render()}
	<div class="content">
		{volist name='lists' id='vo' empty='暂时没有数据'}
		<li class="list-group-item">
		<h4>{$Request.get.page?$Request.get.page*15-15+$i:$i}.{$vo.tmnr}</h4>
		<p id="{$vo.tmxh}">
			<span id="daan">1、{$vo.tmda1}</span>
			<span id="daan">2、{$vo.tmda2}</span>
			{$vo.tmda3?'<span id="daan">3、'.$vo.tmda3.'</span>':''}

			{$vo.tmda4?'<span id="daan">4、'.$vo.tmda4.'</span>':''}

			{$vo.tmda5?'<span id="daan">5、'.$vo.tmda5.'</span>':''}

			{$vo.tmda6?'<span id="daan">6、'.$vo.tmda6.'</span>':''}

		</p>
		题目类型：{$vo.kind} <button id="{$vo.tmxh}" class="btn btn-default" daan="{$vo.tmda}">答案</button>
		</li>
		{/volist}
	</div>
	{$lists->render()}
{/block}
{block name="other"}
 <script>
;!function(){
	$("button").click(function (){
		var daan=$(this).attr('daan').split('');
		var id=$(this).attr("id");
		$.each(daan,function(i){
			if (daan[i]==='1') $("p#"+id+">span").eq(i).css("border","solid 1px #ff0000")
		})
	})
}();
</script>
{/block}
{block name="footer"}{/block}
