{extend name="../template/base.html""/}
{block name="title"}{$view.title??'没有记录的文章'}{/block}
{block name="type"}
	<div class="list list-group-item">
		<ul class="breadcrumb">
			{volist name='list' id='vo' empty="暂时没有数据"}
				<li> <a href="/{$view.path}/list/{$vo.type}">{if condition="($vo.type == $view.type)"}<font color=red>{$vo.name}</font>{else /}{$vo.name}{/if}</a></li>
			{/volist}
		</ul>
		<form action="/{$view.path}/search/" method="get" class="bs-example bs-example-form" role="form">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" name="keyword" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								搜!!
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<h3 class="list-group-item title">{$view.title??'没有记录的文章'}</h3>
	<div class="content list-group-item">
		{$view.content|preg_replace="/<img[^>]*>/","",###}
	</div>
	{if condition="($viewup)"}<li class="viewdown list-group-item">上一篇：<a href="{$viewup.id}">{$viewup.title}</a></li>{/if}
	{if condition="($viewdown)"}<li class="viewdown list-group-item">下一篇：<a href="{$viewdown.id}">{$viewdown.title}</a></li>{/if}
	
{/block}