{extend name="../template/base.html""/}
{block name="title"}qq头像昵称获取{/block}
{block name="main"}
	<div class="input-group">
		<label for="name">输入QQ号码，如：<a id="test_data">123456789</a></label>
	</div>
	<br/>
	<div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-magnet"></span></span>
		<input id="input_data" type="text" class="form-control" placeholder="">
		<span class="input-group-btn" id="btnr"><button id="trash" class="btn btn-default" type="button"><span class="glyphicon glyphicon-trash"></span></button></span>
	</div>
	<br/>
	<button id="QQhead" class="btn btn-primary btn-block" data-loading-text="Loading..." data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-hand-up"></span> Get √
	</button>
	<script>
	$(function () {
		$("#QQhead").click(function(){
			$.ajax({
			url:'/qqhead/',
			type:'post',
			timeout:'15000',
			data:{
			    id:$("#input_data").val()
			},
			async:true,
			dataType:'json',
				success:function(data){
				console.log(data.code)
					$('#myModalLabel').html(data.data)
					$('.modal-body').html(data.msg)
				}
			})
		})
	})
	</script>
{/block}