{extend name="../template/base.html"" /}
{block name="title"}{$title}{/block}
{block name="type"}
		<form method="get" action="/{$path}/search" class="bs-example bs-example-form" role="form">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" name="keyword" id="keyword" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								确定
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>
{/block}
{block name="main"}
	{$lists->render()}
	<div class="content">
	{volist name='lists' id='vo' empty='暂时没有数据'}
		<li class="list-group-item">
			<h4>{$vo.id}.{$vo.title}</h4>
			<p>
				<a id="answer" class="btn btn-default">答案</a>
					<span style="display:none">
						<font color="red">{$vo.content}</font>
					</span>
			</p>
		</li>
	{/volist}
	</div>
	{$lists->render()}

<script>
	$('a#answer').click(function(){
		$(this).next().fadeToggle();
	})
</script>
{/block}
