{extend name="../template/base.html""/}
{block name="title"}{$book}{/block}
{block name="type"}
	<ul class="breadcrumb">
		<li><a href="/{$path}">小说首页</a></li>
		<li>{$book}</li>
	</ul>
	<style>
		.content .list-group-item{
			display: inline-block;
			width: 49%;
			overflow: hidden;
			white-space:nowrap;
			height: 42px;
		}
		.content .list-group-item a{
			display: block;
			width:100%
		}
	</style>
	<div class="media list-group-item">
		<div class="media-left media-middle">
			{$img?'<img src="'.$img.'" class="media-object" style="width:120px">':''}
		</div>
		<div class="media-body">
			<h3 class="media-heading">{$book}</h3>({$zuozhe})
			<p>{$info??''}</p>
		</div>
	</div>
	
	<div class="content">
	{volist name='list' id='vo' empty='暂时没有数据'}
	<li class="list-group-item"><a href="/{$path}/view/{$bookid}/{$vo.id}">{$vo.title}</a></li>
	{/volist}
</div>

{/block}