{extend name="../template/base.html""/}
{block name="title"}{$title} —{$booktitle}{/block}
{block name="type"}
	<div class="list list-group-item">
		<form action="/{$path}/search" method="get" class="bs-example bs-example-form" role="form">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" name="keyword" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								搜!!
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<style>
		.content {padding:0px;margin:0px;text-indent:1em;line-height: 30px;font-size:17px;}
	</style>
		<ul class="breadcrumb">
			<li><a href="/Xs">小说首页</a></li>
			<li><a href="/Xs/book/{$book}">{$booktitle}</a></li>
		</ul>
	{$pager}
	<div class="title list-group-item"><h3>{$title}</h3></div>
	<div class="content list-group-item">{$content}</div>
	{$pager}
{/block}