{extend name="../template/base.html"" /}
{block name="title"}{$title}{/block}
{block name="type"}
	<div class="list list-group-item">
		<ul class="breadcrumb">
			{volist name='list' id='vo' empty="暂时没有数据"}
				<li> <a href="/{$path}/{$i-1}">{if condition="($i-1 == $type)"}<font color=red>{$vo}</font>{else /}{$vo}{/if}</a></li>
			{/volist}
		</ul>
		<form action="/{$path}/search" method="get" class="bs-example bs-example-form" role="form">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" name="keyword" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								搜!!
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
{/block}
{block name="search"}
	<style>
	#daan{
		border: solid 1px #eee;
		padding: 3px 5px;
		margin: 1px;
		border-radius: 3px;
		display:inline-block;
	}
	</style>
{/block}
{block name="main"}
	{$articles->render()}
	<div class="content">
		{volist name='articles' id='vo' empty='暂时没有数据'}
		<li class="list-group-item"><a href="/{$path}/view/{$vo.id}"><h4>{$vo.title}</h4></a></li>
		{/volist}
	</div>
	{$articles->render()}

 <script>
;!function(){
	$("button").click(function (){
		//$(this).next().fadeIn();
		var daan=$(this).next().text().trim().split('');
		var id=$(this).prev().attr("id");
		for (i=0;i<daan.length;i++){
			if (daan[i]==1) $("#"+id+">#daan").eq(i).css("border","solid 1px #ff0000")
		}
	})
}();
</script>
{/block}
{block name="footer"}{/block}
