{extend name="../template/base.html"" /}
{block name="title"}{$title}{/block}
{block name="type"}
	<div class="list list-group-item">
		<ul class="breadcrumb">
			{volist name='list' id='vo' empty="暂时没有数据"}
				<li> <a href="/{$path}/{$vo.type}">{if condition="($vo.type == $type)"}<font color=red>{$vo.name}</font>{else /}{$vo.name}{/if}</a></li>
			{/volist}
		</ul>
		<form action="/{$path}/search" method="get" class="bs-example bs-example-form" role="form">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" name="keyword" id="keyword" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								搜!!
							</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
{/block}
{block name="search"}
	<style>
	#daan{
		border: solid 1px #eee;
		padding: 3px 5px;
		margin: 1px;
		border-radius: 3px;
		display:inline-block;
	}
	</style>
{/block}
{block name="main"}
	{$lists->render()}
	<div class="content">
		{volist name='lists' id='vo' empty='暂时没有数据'}
		<li class="list-group-item">
			<h4>{$Request.get.page?$Request.get.page*15-15+$i:$i}.{$vo.content}</h4>
			<a data-clipboard-text="{$vo.content|str_replace=PHP_EOL,'',###}" class="btn btn-info" data-loading-text="已复制">复制</a>
		</li>
		{/volist}
	</div>
	{$lists->render()}
{/block}
{block name="other"}
    <script>
      var clipboard = new ClipboardJS('.btn');
      clipboard.on('success', function (e) {
		$('#keyword').val(e.text);
		e.trigger.setAttribute("class",'btn btn-success');//成功后改变css
		setTimeout(function(){
			e.trigger.setAttribute("class",'btn btn-info');//1秒后变回，配合data-loading
		},1000);
      });
      clipboard.on('error', function (e) {
        console.log(e);
      });
    </script>
{/block}
